.auth{ 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $primary;
    
&__title{
    font-size: 40px;
   margin-top: 60px;
   
    color: darker($primary, 20);
}


    &__box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        width: auto;
        height: 500px;
        background-color: white;


        &-input{
            width: 100%;
            border: none;
            border-bottom: solid 1px black;
            transition:  border-bottom 200ms;

            &:focus{
                outline: none;
                border-bottom: solid 1px rgb(46, 46, 46);
                transition:  border-bottom 200ms;
            }
            &:hover{
                outline: none;
                border-bottom: solid 1px rgb(46, 46, 46);
                transition:  border-bottom 200ms;
            }
        }

        
    }
}








@include medium { 

    .auth{ 
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100vh;
        width: 100vw;
        background-color: $primary;
        
    &__title{
        font-size: 40px;
       margin-top: 60px;
       
        color: darker($primary, 20);
    }
    
    
        &__box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 500px;
            background-color: white;
    
    
            &-input{
                width: 50%;
                border: none;
                border-bottom: solid 1px black;
                transition:  border-bottom 200ms;
    
                &:focus{
                    outline: none;
                    border-bottom: solid 1px rgb(46, 46, 46);
                    transition:  border-bottom 200ms;
                }
                &:hover{
                    outline: none;
                    border-bottom: solid 1px rgb(46, 46, 46);
                    transition:  border-bottom 200ms;
                }
            }
    
            
        }
    }






}
