
.journal {
    display: block;
    height: 100vh;


    &__menu-user {
        padding: 20px 15px;
        display: flex;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        background-color: $light;
        color: $dark;
    }

    &__new {
        padding: 30px 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        transition: 200ms;

        &:hover {
            background-color: $primary;
            cursor: pointer;
            color: white;
            transition: 200ms;
        }

        h1 {
            font-size: 30px;

            p {
                margin-top: -25px;
            }
        }
    }


    &__sidebar {
        display: flex;
        justify-content: start;
        flex-direction: column;
        text-align: center;
        align-content: center;
        width: 100%;
        background-color: lighten($dark, 60%);
        height: 40vh;
        
    }

    &__entries {
        flex: 1 1 auto;
        justify-content: center;
        
        overflow-y: scroll;
    }

    &__entry {
        margin: 20px;
        height: 90px;
        width: 90%;
        background-color: white;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        overflow: hidden;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: 200ms;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        &-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 90px;
            min-width: 80px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
           

            p {
                line-height: 10px;
                font-size: 12px;
            }
        }

        &-date {
            display: flex;
            flex-direction: column;
            line-height: 15px;
            height: 90px;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: grey;
            color: white;
        }
    }

}






@include medium { 


.journal {
    display: flex;
    height: 100vh;

    &__menu-user {
        padding: 20px 15px;
        display: flex;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        background-color: $light;
        color: $dark;
    }

    &__new {
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        transition: 200ms;

        &:hover {
            background-color: $primary;
            cursor: pointer;
            color: white;
            transition: 200ms;
        }

        h1 {
            font-size: 30px;

            p {
                margin-top: -25px;
            }
        }
    }

    &__sidebar {
        display: flex;
        justify-content: start;
        flex-direction: column;
        text-align: center;
        width: 50%;
        height: 100%;
        background-color: lighten($dark, 60%);
        
    }

    &__entries {
        flex: 1 1 auto;
        justify-content: center;
        margin-top: 30px;
        overflow-y: scroll;
    }

    &__entry {
        margin: 20px;
        height: 90px;
        width: 90%;
        background-color: white;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        overflow: hidden;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: 200ms;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        &-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 90px;
            min-width: 70px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
           

            p {
                line-height: 10px;
                font-size: 12px;
            }
        }

        &-date {
            display: flex;
            flex-direction: column;
            line-height: 15px;
            height: 90px;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: grey;
            color: white;
        }
    }

    &__main {
       
        display: flex;
        justify-content: start;
        background-color: lighten($light, 20%);
    }
}



}

