



    .nothing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        color: white;
        background:linear-gradient(260deg, rgba(255, 255, 255, 0.781), rgba(7, 112, 250, 0.76)), url(https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80);
        background-size:cover;
    
        &__p{
            margin: 0 0 50px 0 ;
            font-size: 45px;
            text-align: center;
            line-height: 60px;
            width: 70%;
            :hover{ 
                cursor: pointer;
            }
    
            &-icon{
                transition: 200ms;
                transform: scale(1.05);
                padding: 10px;
            font-size: 25px;
            text-align: left;
            line-height: 25px;
                &:hover{
                    transition: 200ms;
                transform: scale(1.2);
                cursor: pointer;
    
                }
            }
        }
    }




