

 .notes {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
   
    
    
    &__title-input, &__textarea { 
        padding: 10px 0;
        border: none;
        outline: none;
        width: 100%;
        background-color: transparent;
    }
    &__title-input{
        font-size: 30px;
        color: black;
        font-weight: 600;
    }
    
    &__textarea{
        font-size: 20px;
        font-weight: 300;
        resize: none;
    }
    
    &__content{ 
        height: 100vh;
      
        display: flex;
        flex-direction: column;
        padding: 20px;
    
      
    }
    
    &__images{
       &-img{
        height: 400px;
    width: 100%;
        object-fit: cover;
       }
        
    }
    }
    
    
    
    .appbar { 
    
        align-items: center;
        background-color: $primary;    background:linear-gradient(260deg, rgba(255, 255, 255, 0.781), rgba(7, 112, 250, 0.76)), url(https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80);
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        height: 70px;
    
    }
    








@include medium { 

    .notes {
        overflow: hidden;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        
        
        &__title-input, &__textarea { 
            padding: 10px 0;
            border: none;
            outline: none;
            width: 50%;
            background-color: transparent;
        }
        &__title-input{
            font-size: 30px;
            color: black;
            font-weight: 600;
        }
        
        &__textarea{
            font-size: 20px;
            font-weight: 300;
            resize: none;
        }
        
        &__content{ 
            height: 100vh;
          
            display: flex;
            flex-direction: column;
            padding: 20px;
        
          
        }
        
        &__images{
           &-img{
            height: 400px;
        
            object-fit: cover;
           }
            
        }
        }
        
        
        
        .appbar { 
        
            align-items: center;
            background-color: $primary;    background:linear-gradient(260deg, rgba(255, 255, 255, 0.781), rgba(7, 112, 250, 0.76)), url(https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80);
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px 10px 20px;
            height: 70px;
        
        }
        



}
