$white: #fff;
$google-blue: #d1def3;
$button-active-blue: #83adf1;

.google-btn {
  width: 180px;
  height: 70px;

  &:hover{
      cursor: pointer;
  }


  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: rgb(73, 73, 73);
    font-size: 13px;
    letter-spacing: 0.2px;
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

